* {
    box-sizing: border-box;
}

body {
    /* background: #E1E6E3; */
    /* background: #1c2e2d; */
    font-family: 'Exo 2', sans-serif;
    /* background-image: linear-gradient(#3b4753, rgba(227, 241, 231, 0.6)); */
    /* background: linear-gradient(rgba(227, 241, 231, 0.6), #427A76); */
     /* background: linear-gradient(#e1e6e3, #427A76); */
     background: linear-gradient(#e1e6e3, rgb(164, 238, 233));
    /* background: linear-gradient(#A9C2C0, rgb(127, 177, 173)); */
    width:100%;
    margin: auto;
}

main {
    line-height: 1.6;
    padding-bottom: 5em;
    width:100%;
    /* padding-top: 10em; */
}

.css-header {
    padding-bottom: 3em;
    /* background: #f1f6f1; */
    /* background-image: url('./MySpaceScalesCompressed.png'); */
    /* position: fixed; */
    top: 0;
    width: 100%;
    /* height: 5em; */
}

h1 {
    text-align: center;
    padding-top: 2%; /* may take this out with other styling */
    color: #162524;
    font-size: -webkit-xxx-large;
    -webkit-text-stroke: .5px #162524;
    /*font-family: 'Archivo', sans-serif;*/
   /* font-family: 'Roboto', sans-serif;*/

}

h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px;
    color: #162524; 
    /* color: #e1e6e3 */
}

.css-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: 600px;
    width:100%;
 
}

.responsive-image { 
    max-width: 100%;
    height: auto;
}

.imageContainer {
    padding:20px;
    padding-top: 5%;

}

.pictureInformation {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;

}

.css-image-description-text {
    text-align: left;
    max-width: 960px;
    font-size: large;
    color: #1C2E2D; 
    /* color: #e1e6e3 */


}

.result-cards {
    background-color:#f1f6f1;
    padding-bottom: 3em;
    margin-bottom: 3em;
    /* margin-left: 10em;
    margin-right: 10em; */
}

.css-search-buttons {
    font-family:'Archivo', sans-serif;  
    font-size: medium;
    border-radius: 3em;
    padding: .5em;
    margin-bottom:2em;
    margin-left: 2em;
    background: #F1F6F1;
    border: 2px solid #79848F;
}

.css-input-forms {
    height: 3em;
    min-width: 10em;
    border-radius: .5em;
    width: 10%;
    font-size: medium;
    padding: .5em;
    background: #F1F6F1;
    border: 2px solid #79848F

}

.css-homepage-btn {
    font-family:'Archivo', sans-serif;  
    font-size: medium;
    border-radius: 3em;
    padding: .5em;
    margin-bottom:2em;
    background: #F1F6F1;
    border: 2px solid #79848F;

}

.css-footer {
    padding: 20px;
    text-align: center;
   

}

/* Spinner */

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    padding-top: 10em;
}

.lds-dual-ring:after {
content: " ";
display: block;
width: 46px;
height: 46px;
margin: 1px;
border-radius: 50%;
border: 5px solid  #162524;
border-color:  #162524 transparent #162524 transparent;
animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  