* {
    box-sizing: border-box;
}

body {
    background: lightgray;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    text-align: center;
    padding-top: 2%; /* may take this out with other styling */
   /* font-family: 'Archivo', sans-serif;*/
  /* font-family: 'Roboto', sans-serif;*/

}

h2 {
    font-family: 'Roboto', sans-serif;
}

.container, .contentContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.responsive-image { 
    max-width: 100%;
    height: auto;
}

.imageContainer {
    padding:20px;
}

.pictureInformation {
    padding-left: 20%;
    padding-right: 20%;

}

footer {
    padding: 20px;
    text-align: center;
}



  